# FastAPI & Server
fastapi
uvicorn[standard]

# LangChain & LangGraph
langchain
langchain-core
langchain-openai
langgraph

# RAG Core Models
sentence-transformers
FlagEmbedding
torch
torchaudio
torchvision

qdrant-client

# Utilities
python-dotenv
numpy
typing-extensions
openpyxl
redis
python-multipart
vllm
autoawq