# FastAPI & Server
fastapi
uvicorn[standard]

# LangChain & LangGraph
langchain
langchain-core
langchain-openai
langchain-chroma
langgraph

# RAG Core Models
sentence-transformers
FlagEmbedding
torch
torchaudio
torchvision

# ChromaDB
chromadb

# Utilities
python-dotenv
numpy
typing-extensions
openpyxl
redis